.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right > img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___text-block {
  width: max-content;
  display: flex;
  cursor: pointer;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___text {
  margin: 5px;
  width: max-content;
}

.fighter-preview___text::after {
  content: ' | ';
}

.fighter-preview___text:last-child::after {
  content: ' ';
}